<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="About Us">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Feane
                        </h2>
                    </div>
                    <p>
                        At Feane, we pride ourselves on delivering exceptional experiences and high-quality products. Our team is dedicated to continuous innovation and excellence, ensuring that each interaction with us is memorable. We focus on authenticity and craftsmanship, making sure our offerings stand out and exceed expectations. Discover the difference with Feane and join us on our journey to create something extraordinary.
                    </p>
              
                </div>
            </div>
        </div>
    </div>
</section>
