<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Auth.css" asp-append-version="true" />

<div class="container" id="container">

    <div class="form-container sign-up-container">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register_form", id = "registerForm" }))
        {
            <h1>Регистрация</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <input type="text" placeholder="Name" name="Username" id="username" />
            <div class="col-md-12 form-group text-center">
                <span id="errorName" class="text-danger"></span>
            </div>
            <input type="email" placeholder="Email" name="Email" id="email" />
            <div class="col-md-12 form-group text-center">
                <span id="errorEmail" class="text-danger"></span>
            </div>
            <input type="password" placeholder="Password" name="Password" id="password" />
            <div class="col-md-12 form-group text-center">
                <span id="errorPassword" class="text-danger"></span>
            </div>
            <button type="submit">Зарегистрироваться</button>
        }
    </div>

    <div class="form-container sign-in-container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login_form", id = "loginForm" }))
        {
            @Html.AntiForgeryToken()
            <h1>Авторизация</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <input type="text" placeholder="Name or Email" name="Credential" id="credential" />
            <div class="col-md-12 form-group text-center">
                <span id="errorCredential" class="text-danger"></span>
            </div>
            <input type="password" placeholder="Password" name="Password" id="login_password" />
            <a href="#">Забыли пароль?</a>
            <button type="submit">Вход</button>
        }
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Добро пожаловать!</h1>
                <p>Чтобы оставаться на связи с нами, пожалуйста, войдите в систему с вашей личной информацией</p>
                <button class="ghost" id="signIn">Авторизация</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Привет, Друг!</h1>
                <p>Введите свои личные данные и начните путешествие вместе с нами</p>
                <button class="ghost" id="signUp">Регистрация</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Auth.js"></script>
<script>
    document.getElementById("registerForm").addEventListener("submit", function (event) {
        let el = document.getElementById('registerForm');
        let name = el.username.value;
        let email = el.email.value;
        let password = el.password.value;

        let errorMessageName = errorMessagePassword = errorMessageEmail = "";

        if (name.length === 0) {
            errorMessageName += "Пожалуйста заполните поле имени.<br>";
        }
        if (email.length === 0) {
            errorMessageEmail += "Пожалуйста заполните поле email!<br>";
        }
        if (password.length === 0) {
            errorMessagePassword += "Пожалуйста введите пароль.<br>";
        }

        if (name.length < 4) {
            errorMessageName += "Некорректная длина имени (минимум 4 символа).<br>";
        }

        if (name.length > 20) {
            errorMessageName += "Некорректная длина имени (максимум 20 символов).<br>";
        }

        if (password.length < 8) {
            errorMessagePassword += "Слишком короткий пароль (минимум 8 символов).<br>";
        } else {
            if (!/[A-Z]/.test(password)) {
                errorMessagePassword += "Пароль должен содержать хотя бы одну заглавную букву.<br>";
            }
            if (!/[0-9]/.test(password)) {
                errorMessagePassword += "Пароль должен содержать хотя бы одну цифру.<br>";
            }
        }
        if (errorMessageName !== "") {
            document.getElementById("errorName").innerHTML = errorMessageName;
            event.preventDefault(); // Prevent form submission
        }
        if (errorMessageEmail !== "") {
            document.getElementById("errorEmail").innerHTML = errorMessageEmail;
            event.preventDefault(); // Prevent form submission
        }
        if (errorMessagePassword !== "") {
            document.getElementById("errorPassword").innerHTML = errorMessagePassword;
            event.preventDefault(); // Prevent form submission
        }
    });

    document.getElementById("loginForm").addEventListener("submit", function (event) {
        let el = document.getElementById('loginForm');
        let credential = el.credential.value;
        let password = el.login_password.value;

        let errorMessageCredential = errorMessagePassword = "";

        if (credential.length === 0) {
            errorMessageCredential += "Пожалуйста заполните поле имени/почты.<br>";
        }

        if (password.length === 0) {
            errorMessagePassword += "Пожалуйста введите пароль.<br>";
        }

        if (errorMessageCredential !== "") {
            document.getElementById("errorCredential").innerHTML = errorMessageCredential;
            event.preventDefault(); // Prevent form submission
        }
        if (errorMessagePassword !== "") {
            document.getElementById("errorPassword").innerHTML = errorMessagePassword;
            event.preventDefault(); // Prevent form submission
        }
    });
</script>
